<div class="toolbar" role="banner">
  <span class="spg-title">{{ title }}</span>
  <div class="spacer"></div>

  <div class="spg-lang">
    <a href="#" class="spg-lang-selector hvr-underline-from-left">{{ titleEnglish }}</a>
    <span class="spg-lang-selector spg-lang-spacer">/</span>
    <a href="#" class="spg-lang-selector hvr-underline-from-left">{{ titleFrench }}</a>
  </div>

  <button mat-icon-button aria-label="site search" disableRipple class="spg-search icon-1dot5x">
    <mat-icon [inline]="true">search</mat-icon>
  </button>
</div>

<router-outlet></router-outlet>
